html,


body {
  padding: 0;
  margin: 0;
  background: #ebebeb;
}

.Toastify__toast--error {
  border: 1px solid #eb5757;
  border-radius: 50px !important;
  background: #fae1e2 !important;
}

.Toastify__toast--error::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}

.Toastify__toast--error::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success {
  border: 1px solid #3a9ea5 !important;
  border-radius: 50px !important;
  background: #f0f9fa !important;
  padding-left: 10px;
}
.Toastify__toast--success::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--warning {
  border: 1px solid #e78326 !important;
  border-radius: 50px !important;
  background: #fadfc5 !important;
}
.Toastify__toast--warning::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--warning::after {
  position: absolute;
  color: #e78326;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}

.Toastify__toast--info {
  border: 1px solid #63b0cd !important;
  border-radius: 50px !important;
  background: white !important;
}

.Toastify__toast--info::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}

.Toastify__toast--info::after {
  position: absolute;
  color: #63b0cd;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}

.Toastify__toast-body {
  color: #444c63;
  font-size: 13px;
  padding: 0px;
  width: 100%;
  font-weight: 400;
}

.Toastify__toast > button > svg {
  display: none;
}

.div-test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-test > strong {
  margin-left: 10px;
}



/* Barra de búsqueda */
.search-bar {
  padding: 8px;
  flex-grow: 1;/* La barra de búsqueda ocupa todo el espacio disponible */
  margin-right: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  min-width: 200px; /* Establece un ancho mínimo para la barra de búsqueda */
  max-width: 800px; /* Ajusta el ancho al contenido */
  outline: none; /* Elimina el borde alrededor del input al hacer clic en él */
  transition: all var(--transition-duration) ease; /* Agrega una transición suave al cambiar los estilos */
}

.search-bar:focus {
  border-color: var(--secondary-color); /* Oscurece el color del borde en el foco */
  box-shadow: 0 0 5px rgba(72, 139, 143, 0.5); /* Añade un efecto de sombra suave */
  background-color: var(--white-color); /* Evita que el fondo cambie */
}


/* Contenedor de filtros y botones */
.search-and-actions-container {
  display: flex;
  align-items: center;  /* Alineación vertical de los elementos */
  justify-content: space-between;  /* Alineación horizontal: Distribuye los elementos con el máximo espacio posible entre ellos */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  gap: 16px;  /* Espacio entre los elementos */
  margin-bottom: 10px;  /* Margen inferior */
  flex-wrap: wrap;  /* Permitir que los elementos se acomoden cuando no haya espacio suficiente */
}




* Botón */
.button-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.button-primary:hover {
  background-color: var(--secondary-color);
}

/* Botón de icono */
.icon-button {
  color: var(--primary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: color var(--transition-duration);
}

.icon-button:hover {
  color: var(--secondary-color);
}

  
  
  /* Tipografía y texto */
  .typography-small {
    font-size: 0.75rem;
  }
  
  .typography-medium {
    font-size: 0.9rem;
  }
  
  .typography-large {
    font-size: 1rem;
  }
  
  /* Colores */
  .primary-color {
    color: -var(--primary-color);
  }
  
  .secondary-color {
    color: -var(--secondary-color);
  }
  
  .primary-bg {
    background-color:var(--primary-color);
  }
  
  .secondary-bg {
    background-color: var(--secondary-color);
  }
  
  .white-text {
    color: var(--white-color);
  }
  
  /* Botones */
  .button {
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  
  .button-primary:hover {
    background-color: var(--secondary-color);
  }
  
  .button-outline {
    border: 1px solid --primary-color;
    color: var(--primary-color);
    background-color: transparent;
  }
  
  .button-outline:hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
  }
  
  .icon-button {
    color: var(--primary-color);
    padding: 4px;
  }
  
  .icon-button:hover {
    background-color: transparent;
  }
  
  /* Input de texto */
  .text-input {
    font-size: 0.9rem;
  }












  /* global.css */
  .badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 6px;
    border: 1px solid transparent;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 1;
    min-width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .badge.por-aprobar {
    background-color: #ff9800; /* Naranja para 'Por aprobar' */
  }
  
  .badge.aprobado {
    background-color: #4caf50; /* Verde para 'Aprobado' */
  }
  
  .badge.rechazado {
    background-color: #f44336; /* Rojo para 'Rechazado' */
  }
  
  .badge.vigente {
    background-color: #0f58ac; /* Naranja para 'Vigente' */
  }
  
  .badge.cancelado {
    background-color: #ff0000; /* rojo  para 'Cancelado' */
  }
  
  .badge.vencido {
    background-color: #3f3f3f; /* Gris Naranja para 'Vencido' */
  }
  